<footer>
    <!-- <form action="/clear" method="get">
        <input type="submit" value="Clear All List" class="box">
    </form>
    <br> -->
    copyright by kartik thakur
</footer>

</body>

</html>